/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin-top: 20px;
  }

  .table-info{
    margin-left: 50px;
    margin-right: 50px;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  th {
    font-weight: bold;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tbody tr:hover {
    background-color: #e0e0e0;
  }


  .operations {
    display: flex;
    gap: 10px;
  }
  
  .operations > svg {
    cursor: pointer;
  }

  

  /* Edit icon styles */
.edit-icon {
    color: #007bff; /* Blue color for edit icon */
  }
  
  .edit-icon:hover {
    color: #0056b3; /* Darker blue on hover */
  }
  
  /* Delete icon styles */
  .delete-icon {
    color: #dc3545; /* Red color for delete icon */
  }
  
  .delete-icon:hover {
    color: #c82333; /* Darker red on hover */
  }
  
  /* Move Up icon styles */
  .move-up-icon {
    color: #17a2b8; /* Teal color for move up icon */
  }
  
  .move-up-icon:hover {
    color: #138496; /* Darker teal on hover */
  }
  
  /* Move Down icon styles */
  .move-down-icon {
    color: #28a745; /* Green color for move down icon */
  }
  
  .move-down-icon:hover {
    color: #1e7e34; /* Darker green on hover */
  }
  